// =============================================================================
// TALKS PAGE
// =============================================================================

$talks-breakpoint: 640px;

article {
  margin-bottom: 2em;
}

.flex {
  display: block;

  figure {
    display: block;
    width: 100%;
    margin: 0;

    a .figure-img {
      width: 100%;
    }
  }

  .content {
    width: 100%;

    p {
      margin: 0.25rem 0;
    }

    h1 {
      margin: 0.25rem 0;
      font-size: 1.25rem;
    }

    footer {
      display: inline-flex;
      margin-top: 1rem;
    }
  }

  @media screen and (min-width: $talks-breakpoint) {
    display: flex;

    figure {
      display: flex;
      width: 30%;
      margin-right: 1rem;
    }

    .content {
      width: 70%;
    }
  }
}
