/*-- scss:mixins --*/

@mixin btn-inverse {
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: ease-in;

  &:hover {
    background-color: $theme-green;
    color: rgb(250, 249, 240);
    border-color: $theme-green;
  }
}

/*-- scss:defaults --*/

$theme-lightgreen: #f0f3ee;
$theme-darkgreen: #17261e;
$theme-green: #4a7862;
$font-size-root: 22px;

// colors ----------------------------------------------------------------------

$body-bg: $theme-lightgreen;
$body-color: $theme-darkgreen;
$link-color: $theme-green;
$link-hover-color: darken(saturate($link-color, 50%), 15%);

$code-color: #4758ab;

// Fonts -----------------------------------------------------------------------

@font-face {
  font-family: "Commissioner";
  font-weight: 400;
  src: url("assets/fonts/Commissioner-Regular.woff2") format("woff2"),
    url("assets/fonts/Commissioner-Regular.woff") format("woff");
}
@font-face {
  font-family: "Commissioner";
  font-weight: 600;
  src: url("assets/fonts/Commissioner-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Commissioner-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Commissioner";
  font-weight: 700;
  src: url("assets/fonts/Commissioner-Bold.woff2") format("woff2"),
    url("assets/fonts/Commissioner-Bold.woff") format("woff");
}

@font-face {
  font-family: "Fraunces";
  font-weight: 100;
  src: url("assets/fonts/Fraunces72pt-Thin.woff2") format("woff2"),
    url("assets/fonts/Fraunces72pt-Thin.woff") format("woff");
}
@font-face {
  font-family: "Fraunces";
  font-weight: 400;
  src: url("assets/fonts/Fraunces72pt-Regular.woff2") format("woff2"),
    url("assets/fonts/Fraunces72pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Fraunces";
  font-weight: 600;
  src: url("assets/fonts/Fraunces72pt-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Fraunces72pt-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  src: url("assets/fonts/Inconsolata-Regular.woff2") format("woff2"),
    url("assets/fonts/Inconsolata-Regular.woff") format("woff");
}

$font-family-sans-serif: Commissioner;
$font-family-monospace: Inconsolata;

.sourceCode {
  font-size: 1.1em;
}

// Navigation ------------------------------------------------------------------

$navbar-bg: $theme-lightgreen;
$navbar-fg: $theme-green;

.menu-text {
  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $theme-green;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scale(1);
  }
}

nav .nav-item.compact .nav-link {
  &:hover {
    color: $link-hover-color;
  }
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  &:hover {
    color: $link-hover-color;
  }
}

// code blocks -----------------------------------------------------------------

$btn-code-copy-color-active: $theme-green;

/*-- scss:rules --*/

h1,
h2,
h3 {
  font-family: Fraunces;
}

.page-item.active .page-link {
  background-color: $theme-green;
  border-color: $theme-green;
}

// home ------------------------------------------------------------------------

$home-main-width: 1400px;
$home-left-width: 65%;

.main {
  display: flex;
  margin: auto;
  width: $home-main-width;
  margin-top: 2rem;
  margin-bottom: 4rem;
  gap: 1.5rem;

  .left {
    width: $home-left-width;
    font-size: 28px;
    line-height: calc(28px * 1.5);

    h1 {
      font-size: 140px;
      margin-top: 0;
      line-height: calc(140px * 1.2);
      letter-spacing: -5px;
    }

    h2 {
      text-transform: uppercase;
      border-bottom: unset;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .right {
    width: 100% - $home-left-width;
    display: flex;

    p {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: calc($home-main-width + 4rem)) {
  .main {
    flex-direction: column;
    margin: 5rem;
    width: unset;

    .left {
      width: 100%;
      margin-bottom: 5rem;
    }

    .right {
      width: 100%;
      p {
        width: 100%;
        img {
          display: block;
          margin: auto;
          width: 80%;
        }
      }
    }
  }
}

.page-layout-custom {
  overflow: hidden;
}

// blog ------------------------------------------------------------------------

div.quarto-post {
  border-bottom: unset;
}

div.quarto-post .listing-categories .listing-category,
.quarto-title .quarto-categories .quarto-category {
  color: $theme-green;
  border: solid 1px $theme-green;

  @include btn-inverse;
}

.quarto-listing-category-title {
  color: $theme-green;
}

div.quarto-post .body h3.listing-title {
  font-family: Fraunces;
  color: $theme-darkgreen;
  display: inline;
  background-image: linear-gradient($theme-green, $theme-green);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s, color 0.3s;
}

div.quarto-post:hover .body h3.listing-title {
  color: $theme-green;
  background-size: 100% 2px;
}

div.quarto-post:hover .listing-categories .listing-category {
  font-weight: 600;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
.quarto-title-banner .page-columns .page-full,
.quarto-title-banner {
  margin-top: unset;
  margin-bottom: unset;
}

// project ---------------------------------------------------------------------

.quarto-listing-container-grid:has(.quarto-grid-item:hover)
  .quarto-grid-item:not(:hover) {
  filter: brightness(95%);
}

.quarto-grid-item {
  transition: all 0.25s;

  &:hover {
    border-color: $theme-green;
    box-shadow: 0 12px 16px rgba($theme-green, 0.2);
  }

  p.card-img-top > img {
    object-fit: contain;
    background-color: lighten($theme-green, 50%);
  }
}

.quarto-grid-item .listing-categories .listing-category {
  color: $theme-green;
  border-color: $theme-green;

  @include btn-inverse;
}

// talks ------------------------------------------------------------------------

article {
  margin-bottom: 2em;
}

.flex {
  display: block;

  @media screen and (min-width: 40em) {
    display: flex;
  }

  figure {
    width: 100%;
    display: block;
    margin: 0;

    a .figure-img {
      width: 100%;
    }

    @media screen and (min-width: 40em) {
      width: 30%;
      margin-right: 1rem;
      display: flex;
    }
  }

  .content {
    width: 100%;

    p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    @media screen and (min-width: 40em) {
      width: 70%;
    }

    h1 {
      font-size: 20px;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    footer {
      margin-top: 16px;
      display: inline-flex;
    }
  }
}

/* div.quarto-about-jolla .about-link Social buttons used in about.qmd */
/* .btn-links Buttons used talk posts */
/* .project-buttons>p>a Buttons used in post/slidecraft-scss-themes */
div.quarto-about-jolla .about-link,
.btn-links,
.project-buttons > p > a {
  border-style: solid;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  font-family: Commissioner;
  text-transform: uppercase;
  text-decoration-line: none;
  display: inline-block;

  @include btn-inverse;

  i {
    margin-right: 8px;
  }
}

.slide-deck {
  width: 100%;
  aspect-ratio: 1.5;

  border-style: solid;
  border-width: 1px;
}
