// Override this file to add your own SCSS styling.

/* -----------div tips------------- */

div.redirect, div.warning, div.note {
  padding: 1em;
  margin: 1em 0;
  min-height: 100px;
  background-color: #DEE9F6;
  border: solid 5px #EEF4FA;
}

div.redirect code {
  color: #333333;
  background-color: #F2FAEE;
}

div.warning code {
  color: #333333;
  background-color: #FCF6F8;
}

div.note code {
  color: #333333;
  background-color: #EEF4FA;
}

div.redirect {
  background-color: #E4F6DE;
  border: solid 5px #F2FAEE;
}

div.redirect a {
  color: #21731f;
}

div.warning {
  background-color: #FAEEF0;
  border: solid 5px #FCF6F8;
}

div.warning a {
  color: #b02f2f;
}

div.note a {
  color: #2333a8;
}
